
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Parkinsans:wght@300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    padding-left: 2vw;
    justify-content: left;
    align-items: center;
    background-image: url("images/bg.jpg");
    background-size: 100% 100%;
    background-color: rgb(245, 222, 247);
}

.content{
    width: 50%;
    min-width: 250px;
    height: 90%;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(250, 247, 173);
}

.content h1 {
    text-align: center;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: 20;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    color: #666;
}

.content p {
    text-align: center;
    font-family: "Parkinsans", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 30px;
    color: #888;
}

.content .buynow{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content button {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 25px;
    background-color: rgb(250, 248, 215);
    border: 0.5px solid #fed35d;
    transition: all 5s ease;
}

.content button:hover {
    background-color: #fbe8b2;
}

.content .delivery{
    margin-top: 5vh;
}

.content .delivery span{
    display: flex;
    gap: 10px;
    font-family: "Parkinsans", sans-serif;
    font-weight: 500;
    font-size: 10px;
    justify-content: left;
    align-items: center;
    color: #fca9f1;
    text-shadow: 1px 1px 2px greenyellow, -1px -1px 2px yellow;
}

.move{
    position: relative;
    animation: moveTruck 5s linear forwards;
}

@keyframes moveTruck {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 60px);
  }
}

